@media screen and (min-width: 200px) and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}

.c-file-grid {
  width: 100%;
  overflow: auto;
  padding: 8px;
}

.c-file-grid__item {
  float: left;
  width: 33%;
  padding: 2px;

  &.placeholder {
    opacity: 0;
  }
}

.c-label {
  color: #777;
}

.c-label-field-group {
  position: relative;
}

.c-form-element.c-form-element--horizontal {
  width: 100%;

  @media (min-width:30em) {
    >.c-label, >.c-label:first-child {
      display: inline-block;
      width: 10em;
      text-align: right;
      vertical-align: top;
      padding: 0.36em 1em 0.36em 0;
    }
    >.c-field, >.c-label-field-group {
      display: inline-block;
      width: calc(100% - 10em - 1em);
      box-sizing: border-box;
    }
  }
}

.c-table__cell {
  .ac-field-computed {
    .c-field {
      border: 0;
      background: transparent;
    }
  }
}


.acf-material {
  .c-form-element .c-label:first-child {
    padding-bottom: 0;
  }

  .c-label {
    padding-bottom: 0;
    // font-size: 0.85em;
  }

  .c-field {
    background-color: transparent;
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    &:focus {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      box-shadow: none;
    }
  }

  .c-input-group .c-field:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .c-input-group .c-field:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}